* {
    background: #16233a;
    surface: #465b7f;
    base: #212f49;
    base-alt: #324362;
    titlebar: #465b7f;
    titlebar-backdrop: #3b4f70;
    popover: #3b4f70;
    background-alpha: rgba ( 22, 35, 58, 60 % );
    surface-alpha: rgba ( 70, 91, 127, 78 % );
    foreground: #f6f7fb;
    muted: #b9c4d2;
    select: #5e769e;
    select-alpha: rgba ( 94, 118, 158, 76 % );

    accent: #5d86cd;
    selected-fg: #f6f7fb;
    accent-alpha: rgba ( 93, 134, 205, 84 % );
    border: #697a98;
    border-alpha: rgba ( 105, 122, 152, 55 % );
    pink: #8e87bc;
    purple: #6f7dc1;
    red: #bc7a99;
    orange: #a38a8d;
    yellow: #a29eba;
    green: #8a9bb0;
    blue: @accent;
    gray: #404964;

    active-background: @select;
    urgent-background: @red;
    urgent-foreground: @background;
    selected-background: @accent;
    selected-urgent-background: @urgent-background;
    selected-active-background: @active-background;
    bordercolor: @border;
}
