* {
    background: #212534;
    surface: #595f77;
    base: #2d3243;
    base-alt: #41475b;
    titlebar: #595f77;
    titlebar-backdrop: #4d5268;
    popover: #4d5268;
    background-alpha: rgba ( 33, 37, 52, 60 % );
    surface-alpha: rgba ( 89, 95, 119, 78 % );
    foreground: #f6f7fb;
    muted: #b9c4d2;
    select: #737a95;
    select-alpha: rgba ( 115, 122, 149, 76 % );

    accent: #7e8ab9;
    selected-fg: #f6f7fb;
    accent-alpha: rgba ( 126, 138, 185, 84 % );
    border: #797e92;
    border-alpha: rgba ( 121, 126, 146, 55 % );
    pink: #baa4c7;
    purple: #968bc9;
    red: #f38ba8;
    orange: #a4988b;
    yellow: #bab0ab;
    green: #8ea9a0;
    blue: @accent;
    gray: #474b61;

    active-background: @select;
    urgent-background: @red;
    urgent-foreground: @background;
    selected-background: @accent;
    selected-urgent-background: @urgent-background;
    selected-active-background: @active-background;
    bordercolor: @border;
}
