/* =============================================================================
   ANTO426 ROFI LAUNCHER SURFACE
   Wide variant for app, run and emoji launchers.
   ============================================================================= */

configuration {
    scroll-method: 1;
    scrollbar: false;
    show-icons: true;
    icon-theme: "WhiteSur-dark";
    application-fallback-icon: "application-default-icon";
    display-run: "Run";
    display-drun: "Apps";
    display-emoji: "Emoji";
    drun-display-format: "{name}";
    modi: "run,drun,emoji";
}

@import "~/.config/rofi/control_menu.rasi"

#window {
    width:            720px;
    padding:          20px;
}

#mainbox {
    spacing:          15px;
}

#listview {
    columns:          2;
    lines:            7;
    spacing:          8px;
    fixed-height:     false;
}

#element {
    padding:          11px 14px;
}

#element-icon {
    size:             31px;
    margin:           0px 12px 0px 0px;
}

#element-text {
    font:             "JetBrainsMono Nerd Font SemiBold 10.8";
}

#entry {
    placeholder:      "Search applications or commands...";
}
